/*RESET
-----------------------------------------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2c3e50;
}

:root {
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

a:hover {
    color: #f47933;
}

img {
    max-width: 100%;
    border: 0;
}

input,
button,
textarea {
    border: 0;
}

/* gerais ============================*/
.row,
.section {
    float: left;
    width: 100%;
}

.section {
    padding-top: 72px;
}

.content {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.font-zero {
    font-size: 0%;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
}

.section-header .content {
    max-width: 800px;
}

.section-header h1 {
    font-family: 'Oswald', sans-serif;
    color: #01c0b5;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.section-header h1::after {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 480px;
    background-color: #01c0b5;
    height: 2px;
    bottom: 0em;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.section-header h1::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    /* faz a seta */
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #01c0b5;
    margin-left: -12px;
}

/* modal */
.dialog {
    position: fixed;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 60px 0 20px 0;
}

.dialog-close {
    color: #f47933;
    font-size: 1.2rem;
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: transparent;
}

.dialog-close i {
    font-size: 2rem;
    position: relative;
    top: 4px;
}

.dialog-body {
    overflow-y: auto;
    width: 90%;
    max-width: 750px;
    max-height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.dialog-body-header {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
    border-bottom: 2px solid #01c0b5;
    margin-bottom: 20px;
    line-height: 1.2;
}

.dialog-body-header strong {
    font-size: 2rem;
    font-weight: 400;

}

.dialog-body-header span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #01c0b5;
}
.dialog-cols .row{
    margin-bottom: 20px;
}