.agencia {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.agencia-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.375rem;
}

.agencia-title strong {
    color: #01c0b5;
    font-size: 1.875rem;
}

.agencia-item {
    margin-top: 30px;
    text-align: center;

}

.agencia-item-icon {
    background-color: #01c0b5;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    font-size: 6rem;
    position: relative;
}

.agencia-item-icon::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    /* faz a seta */
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 22px solid #01c0b5;
    margin-left: -22px;
}

.agencia-item h2 {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    margin: 25px 0 5px 0;
}

/* curiosidades */
.curiosidades {
    padding: 50px 0;
    background-image: url(../../images/agencia-curiosidades-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.curiosidades p {
    font-size: 1.875rem;
    font-weight: 700;
}

.curiosidades ul {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    list-style: none;
    margin-top: 20px;
}

.curiosidades ul span {
    font-family: 'Oswald', sans-serif;
    font-size: 3.75rem;
    color: #01c0b5;
    display: block;
}

.equipe {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.equipe-list {
    text-align: center;
    font-size: 0;
}

.equipe-list li {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background-color: #ffffff;
    width: 100%;
    max-width: 250px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-top: 0;

}

.equipe-foto {
    height: 280px;
    overflow: hidden;
    position: relative;
}

.equipe-foto img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.equipe-foto-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(45, 63, 81, .85);
    z-index: 1;
    /* efeito do bloco equipe parte 1 */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    transform: scale(.4) rotate(400deg);
    -webkit-transform: scale(.4) rotate(400deg);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    opacity: 0;


}

.equipe-foto-hover div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.equipe-foto-hover span {
    color: #ffffff;
    font-size: 1.125rem;
    position: relative;
}

.equipe-foto-hover span::before,
.equipe-foto-hover span::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 40px;
    height: 1px;
    top: 50%;
}

.equipe-foto-hover span::before {
    left: -50px;
}

.equipe-foto-hover span::after {
    right: -50px;
}

.equipe-foto-hover a {
    color: #ffffff;
    font-size: 0.875rem;
    background-color: #f47933;
    padding: 3px 10px;
    position: relative;
    top: 5px;
}

.equipe-foto-hover a:hover {
    background-color: #ca5818;

}


.equipe-title {
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;

}

.equipe-title::before {
    position: absolute;
    content: "";
    background-color: #f47933;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;

}

.equipe-title strong {
    font-size: 1.125rem;
    font-weight: 400;
    position: relative;
}

/* efeito do bloco equipe parte 2 */
.equipe-list li:hover .equipe-foto-hover {
    border-radius: 0;
    -webkit-border-radius: 0;
    transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    opacity: 1;
}

.equipe-list li:hover .equipe-title::before {
    top: 0;
}

.equipe-list li:hover .equipe-title {
    color: #ffffff;
}

/* serviços */
.servicos {

    padding: 50px 0;
    background-image: url(../../images/servicos-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.servicos-item {
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
}

.servicos-item:not(:first-child) {
    margin-top: 30px;
}

.servicos-item header {
    padding: 15px;
}

.servicos-item header i {
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    /* serve para centralizar o icone */
    line-height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    font-size: 3rem;
}

.servicos-item header h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 10px;
}

.servicos-item p {
    font-size: 0.875rem;
    margin-top: 10px;

}

.servicos-item p strong {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.servicos-item ul li {
    list-style: none;
    font-size: 1.25rem;
    border-bottom: 2px dotted #cccccc;
    padding: 5px 0;
}

.servicos-item a {
    font-size: 0.875rem;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: inline-block;
    margin: 10px 0;
}

/* DESIGN */

.servicos-item.design header,
.servicos-item.design a {
    background-color: #e04646;

}

.servicos-item.design i {
    color: #e04646;
}

/* ESTRATEGIA */
.servicos-item.estrategia header,
.servicos-item.estrategia a {
    background-color: #0091cd;

}

.servicos-item.estrategia i {
    color: #0091cd;
}

/* DIGITAL */
.servicos-item.digital header,
.servicos-item.digital a {
    background-color: #00AB45;

}

.servicos-item.digital i {
    color: #00AB45;
}

/* MARKETING */
.servicos-item.marketing header,
.servicos-item.marketing a {
    background-color: #eebb00;

}

.servicos-item.marketing i {
    color: #eebb00;
}

.servicos-item a:hover {
    background-color: #f47933;
}

.testemunhos {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.testemunhos-photo {
    overflow: hidden;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;

}

.testemunhos-info {
    width: calc(100% - 70px);
    float: right;

}

.testemunhos-info header {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.testemunhos-info header h2 {
    line-height: 1;
    font-size: 1.2rem;
    max-width: 92%;
    float: left;
}

.testemunhos-info header h2 span {
    font-size: 1rem;
    color: #999999;
    font-weight: 400;
    display: block;
}

.testemunhos-info header i {
    font-size: 1rem;
    color: #999999;
    float: right;
    top: 10px;
    position: relative;
}

/* portifolio */
.portifolio-nav {
    text-align: center;
    margin: 10px 0;
}

.portifolio-nav li {
    display: inline-block;
    margin: 0 5px 10px 5px;
}

.portifolio-nav li a {
    display: block;
    padding: 2px 10px;
    border: 2px solid #2c3e50;
    color: #2c3e50;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.portifolio-nav li a:hover {
    color: #f47933;
    border-color: #f47933;
}

.portifolio-nav li a.active {
    color: #f47933;
    border-color: #f47933;
}

.portifolio {
    float: left;
    width: 100%;
    position: relative;
    display: none;
}

.portifolio.visible {
    display: block;
    animation: animaPortifolio .7s ease;
    -webkit-animation: animaPortifolio .7s ease;
}

@keyframes animaPortifolio {
    0% {
        transform: scale(.5);
        -webkit-transform: scale(.5);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);

    }
}

.portifolio img {
    display: block;
}

.portifolio-hover {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 63, 81, .85);
    color: #ffffff;
    text-align: center;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.8);
}

.portifolio-hover>div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.portifolio-hover strong {
    font-family: 'Oswald'sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.portifolio-hover label {
    width: 100%;
    margin-bottom: 10px;
    display: inline-block;
}

.portifolio-hover a {
    font-size: 4rem;
    color: #ffffff;
    line-height: 1;
}

.portifolio-hover a:hover {
    color: #f47933;
}

.portifolio-hover i {
    line-height: 1;
}

.portifolio:hover .portifolio-hover {
    opacity: 1;
}

/* clientes */
.clientes {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.clientes p {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.clientes ul li {
    list-style: none;
    font-size: 5rem;
    background-color: #ffffff;
    padding: 5px 20px;
    margin-top: 20px;
    line-height: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.blog {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.blog .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.blog-item {
    background-color: #333333;
    color: #ffffff;
    margin-bottom: 30px;
}

.blog-item:nth-last-child() {
    margin-bottom: 0;
}

.blog-item-thumb {
    position: relative;
}

.blog-item-thumb img {
    display: block;
}

.blog-item-thumb span {
    position: absolute;
    right: 10px;
    padding: 3px 10px;
    font-size: 0.687rem;
}

.blog-item-thumb span:first-child {
    color: #01c0b5;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
}

.blog-item-thumb span:nth-child(2) {
    color: #ffffff;
    background-color: #01c0b5;
    top: 100%;
}

.blog-item h2 {
    font-size: 1rem;
    margin: 10px 0 5px 0;
    max-width: 88%;
}

.blog-item p {
    font-size: 0.875rem;
    padding-bottom: 10px;
    width: 100%;
}

.blog-item p.blog-link {
    font-size: 0.875rem;
    text-align: right;

}

.blog-item p.blog-link a {
    font-size: 0.875rem;
    color: #f47933;
    font-weight: 700;

}

.blog-item p.blog-link a:hover {
    text-decoration: underline;
}

/* contatos  */
.contato-infos .content,
.contato-form .content {
    max-width: 1000px;
}

.contato-infos {
    background-image: url(../../images/contato-bg.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding: 10% 0;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
}

.contato-infos span {
    background-color: rgba(255, 255, 255, 0.7);
    color: #2c3e50;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    display: block;
    margin: 5px auto 0 auto;
}

.contato-form p {
    text-align: center;
    margin: 50px, 0 20px 0;
    font-size: 5rem;

}

.contato-form label {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.contato-form label input,
.contato-form label textarea {
    float: left;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    color: #2c3e50;
    padding: 5px;
    margin-top: 5px;
    border: 2px solid #eee;
}

.contato-form label input[type="checkbox"] {
    height: auto;
    width: auto;
    margin-right: 5px;
}

.contato-form label textarea {
    height: 143px;
}

.contato-form label:nth-child(3) span {
    width: 90%;
    display: inline-block;
}

.contato-form button {
    width: 100%;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: #f47933;
    font-size: 2.6rem;
    line-height: 1;
}

.contato-form button i {
    line-height: 1;
    margin-top: 2px;
}

/* footer */
.footer {
    background-color: #2c3e50;
    padding: 20px 0;
    margin-top: 30px;
    color: #ffffff;
}

.footer .content {
    max-width: 800px;
}

.footer-col {
    text-align: center;
    margin-top: 10px;
}

.footer-redes a {
    color: #ffffff;
    font-size: 2rem;
    margin: 0 10px;
    line-height: 1;
}