@media (min-width: 768px) {
    .agencia-item{
        float: left;
        width: calc((100% - 4%) / 2);
        margin-right: 4%;
    }
    .agencia-item:nth-last-of-type(2n+0){
        margin-right: 0;
    }
}


@media (min-width: 960px) {
    .header-nav {
        margin-left: 2%;
    }

    .header-nav ul li a.active::before {
        background-color: #f47933;
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        top: -31px;
        left: 0;
    }

    /* ----------------------- CAROUSEL ------------------------ */
    #carousel-principal {
        height: calc(100% - 80px);
        
    }
    /* agencia */
    .agencia-item{
        width: calc((100% - 8%) / 3);
        margin-left: 4%;
        margin-right: 0;
    }
    .agencia-item:nth-last-of-type(3n+0){
        margin-left: 0;
    }
}

@media (min-width: 1024px) {
    .header-nav ul li {
        margin: 0 6px;
    }
}

@media (min-width: 1144px) {
    .header-logo {
        width: auto;
    }

    .header-nav ul li a {
        font-size: 0.95rem;
    }
}

@media (min-width: 1280px) {
    .header-nav ul li {
        margin: 0 10px;
    }

    .header-search {
        width: 240px;
    }
}

@media (min-width: 1500px) {
    .header-nav ul li {
        margin: 0 10px;
    }

    .header-nav ul li a {
        font-size: 1.1rem;
    }

    .header-search {
        width: 280px;
    }
}