@media (min-width: 480px) {
    .curiosidades ul li {
        float: left;
        width: 50%;
    }

    .testemunhos-photo {
        width: 100px;
        height: 100px;
    }

    .testemunhos-info {
        width: calc(100% - 120px);

    }

    /* clientes */
    .clientes ul li {
        float: left;
        width: 48%;
        margin: 4% 4% 0 0;
    }

    .clientes ul li:nth-of-type(2n+0) {
        margin-right: 0;
    }

    /* contato */
    .contato-infos span {
        width: 80%;
    }
}


@media (min-width: 667px) {
    .equipe-list li {
        width: 50%;
    }

    .equipe-list li:nth-of-type(2n+0) {
        border-left: 0;
    }

    /* serviços */
    .servicos-item:not(:first-child),
    .servicos-item {
        width: calc((100% - 4%)/ 2);
        float: left;
        margin: 0 4% 0 0;

    }

    .servicos-item:nth-of-type(2n+0) {
        margin-right: 0;
    }

    .servicos-item:nth-of-type(1n+3) {
        margin-top: 4%;
    }

    /* portifolio */
    .portifolio {
        width: calc(100% / 2);

    }

    /* blog */
    .blog-item {
        width: 48%;

    }

    .blog-item:nth-last-child() {
        margin-bottom: 0;
    }

}

@media (min-width: 768px) {

    /* modal */
    .dialog-body{
        padding: 0 20px;
    }
    .dialog-equipe .dialog-cols {
        float: left;
        width: 40%;
    }
    .dialog-equipe .dialog-cols:last-child {
        float: right;
        width: 56%;
    }
    .dialog-equipe-photo {
        height: 350px;
    }

    .agencia-item {
        float: left;
        width: calc((100% - 4%) / 2);
        margin-right: 4%;
    }

    .agencia-item:nth-last-of-type(2n+0) {
        margin-right: 0;
    }

    .curiosidades ul li {
        width: 25%;
    }

    /* clientes */
    .clientes ul li:nth-of-type(2n+0),
    .clientes ul li {
        width: calc((100% - 6%) / 3);
        margin: 3% 3% 0 0;
    }

    .clientes ul li:nth-of-type(3n+0) {
        margin-right: 0;
    }

    /* contato */
    .contato-infos {
        font-size: 2.5rem;
    }

    .contato-infos span {
        width: 500px;
        font-size: 3.5rem;
    }

    .contato-form form div {
        float: left;
        width: 48%;
    }

    .contato-form form div:last-child {
        float: right;

    }

    /* footer */
    .footer-col {
        margin: 0;
        width: calc(100% / 3);
        float: left;
    }

    .footer-col:first-child {
        text-align: left;
    }

    .footer-col:last-child {
        text-align: right;
        padding-top: 5px;
    }

    .footer-redes a {
        margin: 0;
    }

    .footer-redes a:not(:first-child) {
        margin-left: 20px;
    }

}

@media (min-width: 833px) {}


@media (min-width: 960px) {

    .dialog-portifolio .dialog-cols {
        float: left;
        width: 68%;
    }
    .dialog-portifolio .dialog-cols:last-child {
        float: right;
        width: 30%;
    }

    /* animação header */
    @keyframes animaHeader {
        0% {
            opacity: 0;
            transform: translateY(-100%);
            -webkit-transform: translateY(-100%);
        }

        100% {
            opacity: 1;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
        }
    }

    /* fixa navbar */
    .fixed {
        position: fixed;
        background-color: #ffffff;
        z-index: 20;
        animation: animaHeader .7s ease-in-out .4s backwards;
        -webkit-animation: animaHeader .7s ease-in-out .4s backwards;
    }

    .header-nav {
        margin-left: 2%;
    }

    .header-nav ul li a.active::before {
        background-color: #f47933;
        content: "";
        position: absolute;
        height: 6px;
        width: 100%;
        top: -31px;
        left: 0;
    }

    /* ----------------------- CAROUSEL ------------------------ */
    #carousel-principal {
        height: calc(100% - 80px);

    }

    /* agencia */
    .agencia-item {
        width: calc((100% - 8%) / 3);
        margin-left: 4%;
        margin-right: 0;
    }

    .agencia-item:nth-last-of-type(3n+0) {
        margin-left: 0;
    }

    /* -------------------------------------------------------- */
    /* portifolio */
    .portifolio {
        width: calc(100% / 3);

    }

}

@media (min-width: 1024px) {
    .header-nav ul li {
        margin: 0 6px;
    }

    .equipe-list li:nth-of-type(2n+0),
    .equipe-list li {
        width: 25%;
    }

    .equipe-list li:not(:first-child) {
        border-left: 0;
    }

}

@media (min-width: 1144px) {
    .header-logo {
        width: auto;
    }

    .header-nav ul li a {
        font-size: 0.95rem;
    }

    /* clientes */
    .clientes ul li:nth-of-type(2n+0),
    .clientes ul li:nth-of-type(3n+0),
    .clientes ul li {
        width: calc((100% - 15%) / 6);
        margin: 3% 3% 0 0;
    }

    .clientes ul li:nth-of-type(6n+0) {
        margin-right: 0;
    }

    /* blog */
    .blog-item {
        width: calc((100% - 9%)/ 4);
        margin: 0;
    }
}

@media (min-width: 1280px) {
    .header-nav ul li {
        margin: 0 10px;
    }

    .header-search {
        width: 240px;
    }

    /* serviços */
    .servicos-item:not(:first-child),
    .servicos-item {
        width: calc((100% - 12%)/ 4);
        float: left;
        margin: 0 4% 0 0;

    }

    .servicos-item:nth-of-type(4n+0) {
        margin-right: 0;
    }

    /* portifolio */
    .portifolio {
        width: calc(100% / 4);

    }

}

@media (min-width: 1366px) {

    /* portifolio */
    .portifolio {
        width: calc(100% / 5);

    }
}

@media (min-width: 1500px) {
    .header-nav ul li {
        margin: 0 10px;
    }

    .header-nav ul li a {
        font-size: 1.1rem;
    }

    .header-search {
        width: 280px;
    }

}